{
    margin: 0;
    padding: 0;
}
.cabecalho { 
  background-color: #fff56a; 
  padding: 15px 25px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem, cartao-verso {
width: 100%;
}

body { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #ff9ac6; ]

main {
    flex: 1;
}



} 
footer { 
  background-color: #fdff7e; 
  padding: 15px 25px; 
  color: #ffa4e8; 
} 

.cabecalho-link { 
  color: #fff; 
  text-decoration: none; 
} 
